extends base.pug

block content
    form(method="POST")
        input(name="title", placeholder="Title", required, type="text")
        input(name="rating", placeholder="Rating", required, type="text")
        input(name="comments", placeholder="Comments", required, type="text")
        input(name="createdAt", placeholder="createdAt", required, type="text")
        input(name="views", placeholder="views", required, type="text")
        input(name="id", placeholder="id", required, type="text")
        input(type="submit", value="Upload Video")
