extends ../root/base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="old_password", placeholder="Old Password", type='password', required)
        input(name="new_password", placeholder="New Password", type='password', required)
        input(name="new_password_2", placeholder="New Password Confirmation", type='password', required)
        input(type='submit', value="Change Password")
block scripts
    script(src="/assets/js/main.js")